<%- include('./partials/heads') %>

<div class="container errorPage">
    <section class="row mt-5">
        <div class="col-12">
            <h1>Page no found</h1>
        </div>
    </section>
</div>

<%- include('./partials/scripts') %>
