<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
<!--        <a class="navbar-brand" href="#">limpio mas</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="/">Shop</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/products?q=<%= products[0].slugTitle %>">Productos</a>
                </li>
                <% if (isAuthenticated) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Mi Carrito</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/order">Mi orden</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/add-product">Vender</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/products">Mis productos</a>
                    </li>
                <% } %>
            </ul>
            <div class="my-2 my-lg-0">
                <!-- Lado derecho de la navegacion -->
            </div>
        </div>
    </div>
</nav>
