<div class="col-12">
    <i class="icofont icofont-bathtub icofont-5x"></i>
    <h3>No hay productos</h3>
    <p>Se el primero en <strong><a class="text-info" href="/admin/add-product">agregar</a></strong> uno!</p>
</div>
