<div class="row seller">
    <div class="col-12">
        <div class="row">
            <div class="col-4 seller__info d-flex justify-content-center">
                <img class="seller__image seller__image--border" src="<%= seller.avatar %>" alt="<%= seller.name %>">
            </div>
            <div class="col-8 seller__detail pl-0">
                <h3><a href="#"><%= seller.name %></a> (33<i class="icofont icofont-star"></i>)</h3>
                <p class="mb-0">71,4% comentarios positivos</p>
                <i class="icofont icofont-heart text-info"></i>
                <button class="btn btn-link p-0 text-info">
                    Guardar
                </button>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="mt-5">
            <i class="icofont icofont-tags text-dark"></i>
            <button class="btn btn-link p-0 text-dark">
                Articulos en venta
            </button>
        </div>
        <div>
            <i class="icofont icofont-send-mail text-dark"></i>
            <button class="btn btn-link p-0 text-dark">
                Contacto
            </button>
        </div>
    </div>
</div>
